.btnLogin {
    margin-top:65px; 
    background-color:limegreen; 
    border-style:none;
}

.btnLogin:hover {
    background-color:dodgerblue;
}


.customerRegistrationForm {
    position:relative; 
    width:80%; 
    top:5px; 
    display:flex;
    position:relative;
    left:50%;
    margin-left:-40%;
    /*background-color:lightblue;*/
}

.container {
    margin: 0 5px; 
}

.form-box {
    width:100%;
    display:flex; 
    flex-direction:column;
    margin-bottom:8px;
}

.form-box .txt-wrapper {
    display:flex;
}

.GridHeader th
{
    text-align:center;
}

.txtbox {
    width:350px;
}

input {
    max-width:500px;
}
